.main {
  background-image: url("/assets/pattern-background-desktop-light.svg");
  background-size: cover;
  height: 100svh;
  display: flex;
  flex-direction: column;
}

body {
  padding: 0px;
  margin: 0px;
}

.nav {
  width: 100%;
  height: 12%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.theme {
  display: flex;
  margin-left: 85%;
  position: fixed;
  align-items: center;
}

.switch {
  position: relative;
  height: 30px;
  width: 58px;
  display: inline-block;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #a729f5;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #a729f5;
}

input:focus + .slider {
  box-shadow: 0 0 1px #a729f5;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 30px;
}

.slider.round:before {
  border-radius: 50%;
}

.container {
  display: flex;
  height: 100svh;
  justify-content: center;
}

.option {
  position: relative;
  width: 65%;
  height: 60px;
  background-color: white;
  border: none;
  box-shadow: 2px 2px 5px lightgrey;
  border-radius: 15px;
  margin: 15px;
  display: flex;
  align-items: center;
  font-family: "rubik";
  font-size: 16px;
  color: #313e51;
}

.correct {
  position: relative;
  width: 65%;
  height: 60px;
  background-color: white;
  border: 1px solid #26d782;
  box-shadow: 2px 2px 5px lightgrey;
  border-radius: 15px;
  margin: 15px;
  display: flex;
  align-items: center;
  font-family: "rubik";
  font-size: 16px;
  color: #313e51;
}

.incorrect {
  position: relative;
  width: 65%;
  height: 60px;
  background-color: white;
  border: 1px solid #ee5454;
  box-shadow: 2px 2px 5px lightgrey;
  border-radius: 15px;
  margin: 15px;
  display: flex;
  align-items: center;
  font-family: "rubik";
  font-size: 16px;
  color: #313e51;
}

.icon {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f6fa;
  font-size: 1.2rem;
  font-weight: bold;
  color: #626c7f;
  border-radius: 10px;
  margin: 15px;
}

.next {
  width: 65%;
  background-color: #a729f5;
  border: none;
  border-radius: 15px;
  height: 55px;
  font-family: "rubik";
  color: white;
}

.menu {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "rubik";
  color: #3b4d66;
}

.board {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: "rubik";
  color: #3b4d66;
}

.heading {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 70px;
  font-family: "rubik";
  text-wrap: wrap;
  color: #3b4d66;
}

.scoreboard {
  width: 65%;
  background-color: white;
  height: 50%;
  border-radius: 15px;
  box-shadow: 2px 2px 5px lightgray;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

@media only screen and (max-width: 768px) {
  .main {
    background-image: url("/assets/pattern-background-tablet-light.svg");
    background-repeat: no-repeat;
    width: 100%;
    height: 100svh;
    font-size: 0.9rem;
    background-size: cover;
  }

  .container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  }

  .board {
    width: 90%;
    height: 70svh;
  }

  .scoreboard {
    width: 90%;
    height: 45svh;
  }

  .heading {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
  }

  .option {
    width: 90%;
    font-weight: bold;
    height: 15%;
  }

  .next {
    width: 90%;
    height: 15%;
  }

  .incorrect {
    width: 90%;
    font-weight: bold;
    height: 15%;
  }

  .correct {
    width: 90%;
    font-weight: bold;
    height: 15%;
  }

  .menu {
    width: 100%;
  }
}

@media only screen and (max-width: 425px) {
  .main {
    background-image: url("/assets/pattern-background-mobile-light.svg");
    background-repeat: no-repeat;
    width: 100%;
    height: 100svh;
    background-size: cover;
    font-size: 0.75em;
  }

  .heading {
    margin: 0px;
    display: flex;
    text-align: left;
    padding: 0.95rem;
    width: 100%;
    font-size: 0.9em;
  }

  .menu {
    width: 100%;
    height: 70svh;
    display: flex;
  }

  .option {
    width: 90%;
    height: 12%;
    font-size: 1.1em;
    font-weight: bold;
    margin: 10px;
  }

  .container {
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .next {
    width: 90%;
    height: 12%;
    margin: 10px;
  }

  .icon {
    width: 30px;
    height: 30px;
  }

  .correct {
    width: 90%;
    margin: 10px;
    height: 12%;
    font-size: 1.1em;
    font-weight: bold;
  }

  .incorrect {
    width: 90%;
    margin: 10px;
    height: 12%;
    font-size: 1.1em;
    font-weight: bold;
  }

  .board {
    width: 90%;
    height: 48svh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .board > .next {
    width: 90%;
    height: 20%;
  }

  .scoreboard {
    width: 90%;
    height: 80%;
  }
}
